body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a4a78;
    color: white;
}

header {
    background-color: #00598C;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
}

.contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.info-contacto {
    max-width: 400px;
}

.info-contacto h2 {
    font-size: 22px;
    font-weight: bold;
}

.info-contacto span {
    color: orange;
}

.redes {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.redes img {
    width: 30px;
}

.formulario {
    background-color: #d3dbe4;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
}

.formulario input, .formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.formulario button {
    background-color: orange;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    color: #f4f4f4;
    font-weight: bold;
}
