body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #00598C;
    color: white;
    padding: 05px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #0b0b45;
    color: white;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 80px;
}

.hero-img {
    width: 500px;
    height: auto;
    border-radius: 50px;
    margin-left: 80px;
}

.hero-text h1 {
    font-size: 2.5rem; /* Aumenta el tamaño del texto */
    font-weight: bold; /* Opcional, para hacerlo más visible */
    margin-left: 80px;
}



button {
    background-color: orange;
    border: none;
    padding: 10px 10px; 
    border-radius: 5px;
    cursor: pointer;
    color: #f4f4f4;
}

.btn-contacto {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s;
    margin-left: 80px;
}

.btn-contacto:hover {
    background-color: darkorange;
}


.projects {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #0a4a78;
}

.project {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

.project img {
    width: 100%;
    border-radius: 10px;
}
